<style>
    .rowSlide{
        display: none;
    }
    #subtitulo{
        display: none;
    }
    .titulohospedaje{
        text-align: center;
        margin-bottom: 40px;
        color: #4282C6;
    }
     ul{
        margin-left: 5%;
    }
    .border{
        border: 1px dashed gray;
    }
    .minimg{
        -webkit-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        -ms-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        transition: all ease 0.4s;
    }
    .minimg:hover{
       box-shadow: 0px 0px 8px gray;
    }
    hr {
      border-top: 1px solid rgba(0, 0, 0,.4);
      color: #4282C6;
      height: 5px;
    }
    .h3{
        color: #4282C6;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 titulohospedaje">
            <h2>Hospedaje <strong>Cabaña Manglares</strong></h2>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3">Hospedaje Principal</h3>
            <div>
                <ul>
                    <li>2 plantas</li>
                    <li>2 habitaciones</li>
                    <li>1 cocina</li>
                    <li>3 baños</li>
                    <li>2 Televisores</li>                    
                    <li>2 Aire acondicionados</li>
                    <li>1 refrigerador</li>
                    <li>1 dispensador de agua</li>
                    <li>Sillas playeras</li>
                    <li>Balcòn vista al mar</li>
                    <li>Capacidad màxima 20 personas</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/main/P1050633.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/main/min/P1050633.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/main/P1050634.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/main/min/P1050634.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/main/P1050635.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/main/min/P1050635.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/main/P1050636.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/main/min/P1050636.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
                <figure>
                <a href="imgs/main/P1050642.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/main/min/P1050642.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/main/P1050638.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/main/min/P1050638.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/main/P1050673.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/main/min/P1050673.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/main/P1050674.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/main/min/P1050674.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/main/P1050675.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/main/min/P1050675.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
                <figure>
                <a href="imgs/main/P1050677.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/main/min/P1050677.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
        </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <hr>
        </div>
        
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3">Habitaciòn #1</h3>
            <div>
                <ul>
                    <li>1 baño</li>
                    <li>1 Televisor</li>
                    <li>1 Aire acondicionado</li>
                    <li>Capacidad màxima 4 personas</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/uno/P1050655.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/uno/min/P1050655.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/uno/P1050656.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/uno/min/P1050656.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/uno/P1050657.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/uno/min/P1050657.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
        </div>
        </div>
        
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <hr>
        </div>
        
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3">Habitaciòn #2</h3>
            <div>
                <ul>
                    <li>1 baño</li>
                    <li>1 Televisor</li>
                    <li>1 Aire acondicionado</li>
                    <li>Refrigerador pequeño</li>
                    <li>Capacidad màxima 4 personas</li>                    
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/dos/P1050651.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/dos/min/P1050651.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/dos/P1050652.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/dos/min/P1050652.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/dos/P1050653.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/dos/min/P1050653.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
        </div>
        </div>
        
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <hr>
        </div>
        
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3" >Habitaciòn #3</h3>
            <div>
                <ul>
                    <li>1 baño</li>
                    <li>1 Televisor</li>
                    <li>1 Aire acondicionado</li>
                    <li>Capacidad màxima 5 personas</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/tres/P1050659.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/tres/min/P1050659.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/tres/P1050660.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/tres/min/P1050660.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/tres/P1050661.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/tres/min/P1050661.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/tres/P1050662.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/tres/min/P1050662.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
        </div>
        </div>
        
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <hr>
        </div>
        
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3" >Habitaciòn #4</h3>
            <div>
                <ul>
                    <li>1 baño</li>
                    <li>1 Televisor</li>
                    <li>1 Aire acondicionado</li>
                    <li>Capacidad màxima 3 personas</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/cuatro/P1050664.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cuatro/min/P1050664.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cuatro/P1050665.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cuatro/min/P1050665.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/cuatro/P1050666.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cuatro/min/P1050666.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
        </div>
        </div>
        
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <hr>
        </div>
        
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <h3 class="h3" >Habitaciòn #5</h3>
            <div>
                <ul>
                    <li>1 baño</li>
                    <li>1 Televisor</li>
                    <li>1 Aire acondicionado</li>
                    <li>1 refrigerador pequeño</li>
                    <li>Capacidad màxima 7 personas</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
            <div class="my-gallery">
            <figure>
                <a href="imgs/cinco/P1050668.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cinco/min/P1050668.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cinco/P1050669.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cinco/min/P1050669.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/cinco/P1050670.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cinco/min/P1050670.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/cinco/P1050671.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cinco/min/P1050671.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
        </div>
        </div>
    </div>
</div>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">    
    <div class="pswp__bg"></div>    
    <div class="pswp__scroll-wrap">        
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>        
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">                
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>                
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
          </div>
    </div>
</div>
<script src="js/photoswipe-galeria.js"></script>