<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 porque"><h2>¿POR QUÈ <strong>CABAÑA MANGLARES</strong>?</h2></div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="image"><img src="imgs/ico/comodidad.png">
            </div>
            <div class="contenido"><h4>COMODIDAD</h4><p>Cabaña Manglares cuenta con las atenciones y servicios para que usted estè en un sitio de confort.</p></div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="image"><img src="imgs/ico/seguridad.png"></div>
            <div class="contenido"><h4>SEGURIDAD</h4><p>Cabaña Manglares cuenta con un servicio de seguridad para que no tenga preocupaciones relacionadas con su bienestar.</p></div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
           <div class="image"><img src="imgs/ico/relax.png"></div>
            <div class="contenido"><h4>RELAJACION</h4><p>La geolocalizacion de Cabaña Manglares es òptima para que pueda relajarse disfrutando del sol y de la playa.</p></div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="image"><img src="imgs/ico/enjoy.png"></div>
            <div class="contenido"><h4>DISFRUTAR</h4><p>Disfrute de las mejores playas de San Antero y de los recorridos turisticos</p></div>
        </div>
    </div>
</div>