<style>
    .rowSlide{
        display: none;
    }
    #subtitulo{
        display: none;
    }
    .tituloInstalacion{
        text-align: center;
        margin-bottom: 40px;
        color: #4282C6;
    }
    ul{
        margin-left: 5%;
    }
    @media (max-width: 500px) {
        .glyphicon-chevron-right{
            display: none;
        }
    }
    @media (min-width: 501px){
        .glyphicon-chevron-down{
            display: none;
        }
    }
    .minimg{
        -webkit-transition: all ease 0.4s;
        transition: all ease 0.4s;
         -o-transition: all ease 0.4s;
        -ms-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
    }
    .minimg:hover{
       box-shadow: 0px 0px 8px gray;
    }
    .h3{
        color: #4282C6;
    }
    .border{
        border: 1px dashed gray;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tituloInstalacion">
            <h2>Infraestructura de <strong>Cabaña Manglares</strong></h2>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"> 
            <h3 class="h3">Caracteristicas <span class="glyphicon glyphicon-chevron-down"></span><span class="glyphicon glyphicon-chevron-right"></span></h3>
            <div>
                <ul>
                    <li>120 metros de largo</li>
                    <li>50 metros de ancho</li>
                    <li>2 plantas</li>
                    <li>6 habitaciones</li>
                    <li>Color principal Blanco</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 border">
        <div class="my-gallery">
            <figure>
                <a href="imgs/cabana/P1050627.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cabana/min/P1050627.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/P1050679.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/P1050679.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/cabana/P1050680.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/P1050680.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            <figure>
                <a href="imgs/cabana/P1050681.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/P1050681.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/P1050682.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/P1050682.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/P1050698.jpg" itemprop="contentUrl" data-size="711x1067">
                <img class="minimg" src="imgs/cabana/min/P1050698.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/P1050699.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/P1050699.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/slide3.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/slide3.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
            <figure>
                <a href="imgs/cabana/slide4.jpg" itemprop="contentUrl" data-size="1600x1067">
                <img class="minimg" src="imgs/cabana/min/slide4.jpg" itemprop="thumbnail" alt="Image description" />
                </a>							  
            </figure>
        </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">    
    <div class="pswp__bg"></div>    
    <div class="pswp__scroll-wrap">        
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>        
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">                
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>                
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
          </div>
    </div>
</div>
<script src="js/photoswipe-galeria.js"></script>