<style>
    .rowSlide{
        display: none;
    }
    #subtitulo{
        display: none;
    }
    .tituloServ{
        text-align: center;
        margin-bottom: 40px;
        color: #4282C6;
    }
    .serv{
        text-align: center;
        margin-bottom: 30px;
    }
    .serv > h3{
        color: #4282C6;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tituloServ"><h2>Servicios ofrecidos por <strong>Cabaña Manglares</strong></h2></div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 serv">
            <h3>Hospedaje</h3>
            <img src="imgs/ico/hospedaje.png">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 serv">
            <h3>Eventos Sociales</h3>
            <img src="imgs/ico/married.png">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 serv">
            <h3>Restaurante</h3>
            <img src="imgs/ico/restaurante.png">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 serv">
            <h3>Paseos turisticos</h3>
            <img src="imgs/ico/paseo.png">
        </div>
    </div>
</div>